<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.demo.mappers.MybatisBoardMapper">
<select id="list" 
        resultType="com.ezen.demo.model.Board">

        SELECT * FROM board ORDER BY num DESC
</select>

<insert id="insert" parameterType="com.ezen.demo.model.Board">
INSERT INTO board VALUES(bbs_num.nextval,#{title},#{contents},#{author},SYSDATE,#{pcode})

</insert>

<select id="getBoard" 
        resultType="com.ezen.demo.model.Board"
        parameterType="Integer">

        SELECT * FROM board WHERE num=#{num}
</select>

<update id="update"  parameterType="com.ezen.demo.model.Board">
UPDATE  board  SET title=#{title},contents=#{contents} WHERE num=#{num}

</update>

<delete id="delete" parameterType="Integer">
DELETE FROM board WHERE num=#{num}
</delete>

<select id="search" 
        parameterType="map"
        resultType="com.ezen.demo.model.Board">
 
          SELECT * FROM board WHERE
        <choose>
        <when test='category.equalsIgnoreCase("author")'>
             author  LIKE '%'||#{key}||'%'
        </when>
        <when test='category.equalsIgnoreCase("title")'>
             title LIKE '%'||#{key}||'%'
        </when>
        </choose>      
</select>





</mapper>