<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.demo.mappers.UploadMapper">

	<insert id="insertUpload" parameterType="com.ezen.demo.vo.Upload">
		<selectKey keyProperty="num" resultType="integer" order="BEFORE">
    		SELECT upload_num.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO upload_tb(num, writer, udate, comments)
		VALUES(#{num}, #{writer}, sysdate, #{comments})
	</insert>
	<!--
	<insert id="insertAttach" parameterType="map">
		INSERT INTO attach_tb(num, pnum, fname, fpath)
		VALUES(ATTACH_NUM.NEXTVAL, #{pnum}, #{fname}, #{fpath})
	</insert>
	-->
	<insert id="insertAttach" parameterType="com.ezen.demo.vo.Attach">
		INSERT INTO attach_tb(num, pnum, fname, fpath)
		VALUES(ATTACH_NUM.NEXTVAL, #{pnum}, #{fname}, #{fpath})
	</insert>

	<update id="insertMultiAttach" parameterType="java.util.List">
    INSERT INTO attach_tb (num, pnum, fname, fpath)
    SELECT ATTACH_NUM.NEXTVAL AS num, t.* FROM
    (
        <foreach collection="list" item="item" index="index" separator="union all">
             SELECT #{item.pnum}, #{item.fname}, #{item.fpath} FROM DUAL
        </foreach>
    ) t
</update>
	
	
	<select id="getList" resultType="map">
		SELECT u.num AS num, writer, udate, comments, a.num AS fnum, pnum, fname
		FROM upload_tb u LEFT OUTER JOIN attach_tb a ON u.num=a.pnum
	</select>

	<select id="getFname" parameterType="Integer" resultType="String">
		SELECT fname FROM attach_tb WHERE num=#{num}
	</select>
	
	<select id="getDetail" parameterType="Integer" resultType="map">
		SELECT u.num AS num, writer, udate, comments, a.num AS fnum, pnum, fname
		FROM upload_tb u LEFT OUTER JOIN attach_tb a ON u.num=a.pnum WHERE u.num=#{num}
	</select>
	
	<delete id="deleteAttach" parameterType="Integer">
		DELETE FROM attach_tb WHERE pnum=#{pnum}
	</delete>
	
	<select id="getAllFname" parameterType="Integer" resultType="String">
		SELECT fname FROM attach_tb WHERE pnum=#{pnum}
	</select>

<delete id="deleteUpload" parameterType="Integer">
		DELETE FROM upload_tb WHERE num=#{num}
	</delete>
</mapper> 
<!-- 
CREATE TABLE upload_tb(
    num NUMBER,
    writer VARCHAR2(20) NOT NULL,
    udate DATE NOT NULL,
    description VARCHAR2(100),
    CONSTRAINT PK_UPLOAD_NUM PRIMARY KEY(num)
);
DESC upload_tb;

CREATE TABLE attach_tb(
    num NUMBER NOT NULL,
    pnum NUMBER NOT NULL,
    fname VARCHAR2(50) NOT NULL,
    fpath VARCHAR2(100) NOT NULL,
    CONSTRAINT PK_ATTACH_NUM PRIMARY KEY(num),
    CONSTRAINT FK_ATTACH_PNUM FOREIGN KEY(pnum) REFERENCES upload_tb(num)
);
 -->